<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="weather,weather-app,mwendwa-weather-app,daily-weather,forecast,weather forecast">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>icon}}
    <link rel="stylesheet" href="css/style.css">
    <title>Weather app</title>
</head>
<body>

    {{!-- Header Content Goes Here --}}
<header>
    <h1>Weather App</h1>  
    {{>navbar}} 
</header>

{{!-- Main Content Goes Here --}}
<div class="main-content">
    <form >
        <input type="text" class="search" placeholder="Nairobi">
        <button>Search</button>
    </form>
    <div class="weather-container">
        <div id="error"></div>
        <div id="success"></div>
    </div>
</div>

{{!-- Footer Goes Here --}}
    {{>footer}}
  <script src="js/app.js"></script>
</body>
</html>