<footer class="footer">
    <div class="footer__copyright">
        <p>All rights reserved &copy; 2022</p>
    </div>
    <div class="footer__author">
      <p>
        <a href="https://github.com/JohnMwendwa">John Mwendwa</a>
      </p>
    </div>
</footer>