<nav class="navbar">
    <ul class="navbar__links">
        <li class="navbar__link">
            <a href="/">Home</a>
        </li>
        <li class="navbar__link">
            <a href="/about">About</a>
        </li>
    </ul>
</nav>