body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

.navbar,.navbar__links{
display: flex;
}
.navbar__links{
    margin-top: 0;
}
.navbar__link{
    list-style: none;
    margin-right: 16px;
}

.navbar__link a{
  text-decoration: none;  
  color: #fff;
  font-size: 1.25rem;
  transition: color 0.3s ease-in-out;
}
.navbar__link a:hover{
    color: yellowgreen;
}

input[type='text']{
    outline: none;
    padding: 8px;
}
form button{
    padding: 8px;
    outline: none;
    background-color: greenyellow;
    cursor: pointer;
}